<h1>{{title}}</h1>
<!-- <h2>Hello {{ user.name }}. This is your detail:</h2>
<div><label>id:</label> {{user.id}}</div>
<div><label>name:</label> {{user.name}}</div>
<div><label>email:</label> {{user.email}}</div>
<br>
<div>
    <label>name:</label>
    <input placeholder="Enter your name..." [(ngModel)]= "user.name">
</div> -->
<ul class="users">
    <li *ngFor="let user of users" [class.selected] = "user === selectedUser" (click)="onSelect(user)">
        <span class="badge">{{user.id}}</span> {{user.name}}
    </li>
</ul>

<nav>
    <a routerLink="/view1" routerLinkActive = "active">Link to view 2</a>
    <a routerLink="/view2" routerLinkActive = "active">Link to view 2</a>
</nav>
<!-- <router-outlet></router-outlet> -->


<user-detail [selectedUser] = "selectedUser"></user-detail>